# Telegram
TELEGRAM_BOT_TOKEN=your_bot_token_here
TELEGRAM_GROUP_ID=-1001234567890

# Redis
REDIS_URL=redis://redis:6379

# PostgreSQL
POSTGRES_DB=vpnbot
POSTGRES_USER=vpnbot
POSTGRES_PASSWORD=jdfn8*9fj2@@for

# Иконки топиков (custom emoji ID из Telegram)
ICON_AI_ENABLED=5417915203100613993
ICON_AI_DISABLED=5237699328843200968
